<div class="form">
    <form action="/api/realTimeProducts" id="productForm" method="post">
        <legend>Agregar Producto</legend>

        <label>Titulo:</label>
        <input type="text" name="title" required/>

        <label>Descripción:</label>
        <input type="text" name="description" required/>

        <label>Precio:</label>
        <input type="number" name="price" required/>

        <label>Código:</label>
        <input type="text" name="code" required/>

        <label>Stock:</label>
        <input type="number" name="stock" required/>

        <label>Categoría:</label>
        <input type="text" name="category" required/>

        <label>Thumbnails:</label>
        <input type="text" name="thumbnail"/>

        <button type="submit">Enviar</button>

    </form>
</div>

<div id="productFeed">
    {{#each products}}
    <div>
        <h4>{{title}}</h4>
        <img src="{{thumbnail}}" alt="imagen de {{title}}">
        <div>
            <p>{{description}}</p>
            <p>Precio: {{price}}</p>
            <p>Stock: {{stock}}</p>
            <p>Código: {{code}}</p>
        </div>
    </div>
    {{/each}}
</div>